.about-subtitle h3{
  font-size: 1.75rem;
  margin-left: 20px;
  position: relative;
}

.about-subtitle::after{
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  margin-left: 20px;
  background: #FFBB00;
  margin-top: 4px;
  position: absolute;
  }

.about-info{
    max-width: 500px;
    justify-self: left;
  }

.about-info p{
    font-size: 1.15rem;
    line-height: 1.6;
  }