.grade-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
  gap: 50px;
  justify-items: left;
}

.grade-subtitle h3{
  font-size: 1.75rem;
  margin-left: 20px;
  position: relative;
}

.grade-subtitle::after{
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  margin-left: 20px;
  background: #FFBB00;
  margin-top: 4px;
  position: absolute;
  }