.projects-container{
  background: rgba(255, 187, 0, 0.05);
  margin-top: 100px;
}

.projects-container h2{
  padding-top: 50px;
  text-align: center;
  font-size: 3.5rem;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
  margin-top: 100px;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}
